body{
	background-color: #afeeee;
}
header h1{
	text-align: justify;
	color: #5c4033;
	font-size: 40px;
	font-family: 'Castellar';
}

figure{
	text-align: center;
}
h2{
	text-align: justify;
	color: #000000;
	font-size:35px;
	font-family:'Castellar' ;

}
p{
text-align:justify;
color:#5c4033 ;	
font-size: 30px;
}










